<!DOCTYPE html>
<html>
    <head>
        <meta id="appName" name="application-name" content="Patternfly Seed">
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>OpenControl Database</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.png") %>">
    <link rel="icon" type="image/png" sizes="192x192" href="<%= assetPath("images/favicon-192.png") %>">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4WQEW4QQ9G"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-4WQEW4QQ9G');
    </script>
    <%= javascriptTag("app.js") %>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
