<!DOCTYPE html>
<html>
    <head>
        <meta id="appName" name="application-name" content="Patternfly Seed">
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Ocdb</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.png") %>">
    <link rel="icon" type="image/png" sizes="192x192" href="<%= assetPath("images/favicon-192.png") %>">

    <%= javascriptTag("app.js") %>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
